{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ user.name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}" style="float: left">
    <div class="profile-header">
        <h1>{{ user.name }}</h1>
        {% if user.real_name or user.location %}
        <p><strong>Basic Information</strong>:
            {% if user.real_name %}{{ user.real_name }}{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
        </p>
        {% endif %}
        {% if user.school %}<p><strong>School</strong>:{{ user.school }}</p>{% endif %}
        {% if user.about_me %}<p><strong>About Me</strong>:{{ user.about_me }}</p>{% endif %}
        {% if user.name == current_user.name %}
            <a href="{{ url_for('.edit_profile')}}">Update my profile.</a>
        {% endif %}
    </div>
</div>
<div class="posts" style="float: left">
    {% for post in posts %}
        <div class="post-thumbnail" style="float: left">
            <a href="{{ url_for('.user', name=post.author.name) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-footer">
                <h4><a href="{{ url_for('.post', id=post.id) }}">{{ post.title}}</a></h4>
            </div>
            <div class="post-author">Author:<a href="{{ url_for('.user', name=post.author.name) }}">{{ post.author.name }}</a></div>
            <div class="post-author">
                {% if user.name == current_user.name %}
                    <a href="{{ url_for('.delete_post', id=post.id) }}">delete</a>
                {% endif %}
            </div>
        </div>
        <br />
    {% endfor %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.user', name=user.name) }}
    </div>
</div>

{% endblock %}