{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flask Blogs - {{ user.name }}{% endblock %}

{% block page_content %}
<div class="page-header" style="position:static;float:none;clear:both;">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}" style="float: left">
    <div class="profile-header">
        <h1>{{ user.name }}</h1>
        {% if user.real_name or user.location %}
        <p><strong>Basic Information</strong>:
            {% if user.real_name %}{{ user.real_name }}{% endif %}
            {% if user.location %}
                From {{ user.location }}
            {% endif %}
        </p>
        {% endif %}
        {% if user.school %}<p><strong>School</strong>:{{ user.school }}</p>{% endif %}
        {% if user.about_me %}<p><strong>About Me</strong>:{{ user.about_me }}</p>{% endif %}
        {% if user.name == current_user.name %}
            <a href="{{ url_for('.edit_profile')}}">Update my profile.</a>
        {% endif %}
    </div>
</div>
<div class="posts" style="position:static;float:none;clear:both;">
    {% for post in posts %}
        <br />
        <div class="post-content">
            <div class="post-footer">
                <span>
                    <b>
                        Blog:<a href="{{ url_for('.post', id=post.id) }}">{{ post.title}}</a>
                    </b>
                </span>
                <span style="float: right">
                    {{ moment(post.timestamp).fromNow(refresh=True) }}
                </span>
            </div>
            <div class="post-author">
                <span>
                    Author:<a href="{{ url_for('.user', name=post.author.name) }}">{{ post.author.name }}</a>
                </span>
                <span class="post-author" style="float: right">
                    {% if user.name == current_user.name %}
                        <a href="{{ url_for('.delete_post', id=post.id) }}">Delete</a>
                        <a href="{{ url_for('.edit_post', id=post.id) }}">Edit</a>
                    {% endif %}
                    <a href="{{ url_for('.post', id=post.id) }}#comments">
                        <span class="label label-primary">{{ post.comments.count() }} Comments</span>
                    </a>
                </span>
            </div>

        </div>
        <hr>
    {% endfor %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.user', name=user.name) }}
    </div>
</div>

{% endblock %}